body.noScroll {
    overflow-y: hidden;
}
.navbar-title {
    cursor: pointer;
    color: #ffffff;
    font-style: oblique;
}
.nav-img {
    height: 70px;
    width: 70px;
    margin: 0 20px;
}
.navbar {
    justify-content: center;
    background-color: rgba(49,49,49,0.2);
    padding: 15px;
}
.nav-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(-12%);

}
.placeholder {
    font-style: italic;
    font-size: 12px;
}
.contentWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 20px;
    gap: 20px;
}
.nasaInfo-img{
    max-height: 250px;
    max-width: 250px;
    min-width: 150px;
    min-height: 150px;
    /* object-fit: cover; */
    border-radius: 8px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.modal-img {
    height: 50%;
    max-height: 55%;
    width: 50%;
    max-width: 300px;
    object-fit: cover;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 5px 38px, rgba(0, 0, 0, 0.22) 0px 5px 12px;
}
.modal, .overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    display: block;
}
.overlay {
    background: rgba(49,49,49,0.8);
}
.modal-box-wrapper {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1.4;
    border: 2px solid grey;
    border-radius: 3px;
    width: 70%;
    max-width: 750px;
    height: 65%;
    background-image: linear-gradient(to bottom, #706f75, #84848a, #999aa0, #afb0b6, #c5c7cc);
}
.modal-header {
    border-bottom: 1px solid #c5c7cc
}
.modal-info-wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.modal-info-wrapper div {
    width: 100%;
}
.modal-body {
    display: flex;
    align-items: center;
    gap: 10px;
    height: 80%;
}
.modal-description {
    font-weight: lighter;
    max-height: 80px;
    max-width: 400px;
    overflow-y: scroll;
}
.modal p {
    font-weight: lighter;
}
.modal-creators{
    max-height: 60px;
    overflow: scroll;
}            
.btn-grad {
    background-image: linear-gradient(to right, #232526 0%, #414345  51%, #232526  100%);
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    border-radius: 5px;
    display: block;
}
.btn-grad:hover {
    background-position: right center;
    color: #fff;
    text-decoration: none;
}
.empty-container {
    display: flex;
    justify-self: center;
    align-items: center;
    flex-direction: column;
    margin-top: 100px;
    text-align: center;
}
.empty-container img {
    height: 65%;
    width: 65%;
    border: 2px solid #626262;
    border-radius: 5px;
}



@media (max-width:900px) {
    .modal-body {
        flex-direction: column;
    }
    .modal-description {
        max-width: 100%;
    }
    .modal-img {
        height: 45%;
    }
    .modal-title, .modal-info-wrapper h6, .modal-info-wrapper p{
        font-size: .8em;
    }
    .nasaInfo-img {
        max-width: 150px;
        max-height: 150px;
        min-height: 150px;
        min-width: 150px;
    }
}

@media (max-width:500px) {
    .modal-title, .modal-info-wrapper h6, .modal-info-wrapper p{
        font-size: .7em;
    }
    .navbar {
        justify-content: center;
    }
    .navbar-title {
        font-size: 1.8em;
    }
    .empty-container h1 {
        font-size: 1.7em;
    }
    .placeholder {
        font-size: 9px;
    }
    
}
