body.noScroll {
    overflow-y: hidden;
}

.contentWrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    min-height: 100vh;
    gap: 10px;
    padding: 20px;
}

.nasaInfo-item img{
    height: 200px;
    width: 200px;
    object-fit: cover;
    border-radius: 8px;
}
.modal, .overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    display: block;
}
.overlay {
    background: rgba(49,49,49,0.8);
}
.modal-content {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1.4;
    background: #f1f1f1;
    padding: 14px;
    border-radius: 3px;
    max-width: 600px;
    min-width: 300px;
}
.modal-body {
    display: flex;
    align-items: center;
    gap: 10px;
}
.modal-description {
    font-weight: lighter;
    max-height: 80px;
    overflow: scroll;
}
.modal p {
    font-weight: lighter;
}
.modal-creators{
    max-height: 30px;
    overflow: scroll;
}
