:root {
  --slategrey: rgb(112,128,144);
  --lighter: rgb(183,192,200);
  --darker: rgb(57,64,72);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.navbar-title {
  color: white;
}
.main-wrapper {
  min-height: 100vh;
  width: 100vw;
  background-color: var(--lighter);
}
.pagination-btns {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  
}

