
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.main-wrapper {
  min-height: 100vh;
  width: 100vw;
  background-image: linear-gradient(to left bottom, #706f75, #84848a, #999aa0, #afb0b6, #c5c7cc, #c5c7cc, #c5c7cc, #c5c7cc, #afb0b6, #999aa0, #84848a, #706f75);

}
.pagination-btns {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

